---
title: Menu Page
---
extends layouts/_layout
block content
    section.menu-page
        .container
            a.btn.btn-underline(href="../main") Главная
            a.btn.btn-underline(href="../main-catalog") Каталог
            a.btn.btn-underline(href="../product") Страница товара
            a.btn.btn-underline(href="../catalog") Каталог общая
            a.btn.btn-underline(href="../info") Полезная информация
            a.btn.btn-underline(href="../articles") Статьи
            a.btn.btn-underline(href="../about") О компании
            a.btn.btn-underline(href="../contacts") Контакты
