---
title: Menu Page
---
extends layouts/_layout
block content
    section.menu-page
        .container
            a.btn.btn-underline(href="/main.html") Главная
            a.btn.btn-underline(href="/main-catalog.html") Каталог
            a.btn.btn-underline(href="/product.html") Страница товара
            a.btn.btn-underline(href="/catalog.html") Каталог общая
            a.btn.btn-underline(href="/info.html") Полезная информация
            a.btn.btn-underline(href="/articles.html") Статьи
            a.btn.btn-underline(href="/about.html") О компании
            a.btn.btn-underline(href="/contacts.html") Контакты
