---
title: Catalog Main Page
---
extends layouts/_layout
block content
    section.main-catalog__heading
        .container
            .breadcrumbs
                a.btn(href="#") Главная
                p / Электродвигатели Dunkermotoren
            h2 Электродвигатели Dunkermotoren
            .heading__content
                .heading__text
                    p Dunkermotoren GmbH - немецкая производственная компания, которая с момента основания в 1950 году специализируется на высокоточных малогабаритных моторах и редукторах.
                    p Качество, профессионализм, высокий уровень сервиса, ориентированность на потребности клиента, оперативность и высокие экологические стандарты - отличительные черты продукции компании.
                    p В 1991 Дункенмоторен стал первым производителем в малых моторов в мире прошедших сертификация ISO 9001.
                .heading__buttons
                    a.btn.btn-pdf(href="#")
                        .btn-pdf__img
                        .btn-pdf__text Общий каталог (Dunkermotoren).pdf
                    a.btn.btn-watch(href="#") Смотреть видео
            a.btn.btn-secondary(href="#")
                span.sp-arrow
                span.sp-text Подробнее
    section.main-catalog__content
        .container
            a.btn.btn-single-param__heading.btn-filter(href="#")
                span.span-text Фильтры
                span.span-arrow
            aside
                a.btn.btn-single-param__heading#Dunkermotoren(href="#")
                    span.span-text Электродвигатели Dunkermotoren
                    span.span-arrow
                .single-param__content#Dunkermotoren__content
                    a.btn(href="#")
                        .dot-sm
                        | BG | EC Motors
                    a.btn(href="#")
                        .dot-sm
                        | GR/G | Brushed DC Motors
                    a.btn(href="#")
                        .dot-sm
                        | KD/DR | AC motors
                    a.btn(href="#")
                        .dot-sm
                        | D/DCD | Venetian blind drives
                    a.btn(href="#")
                        .dot-sm
                        | PLG/SG/STG | Gearboxes
                    a.btn(href="#")
                        .dot-sm
                        | BGE | Controllers
                    a.btn(href="#")
                        .dot-sm
                        | Brakes and Encoders
                    a.btn(href="#")
                        .dot-sm
                        | Linear Systems
                a.btn.btn-single-param__heading#Jianghai(href="#")
                    span.span-text Конденсаторы Jianghai
                    span.span-arrow
                .single-param__content#Jianghai__content
                    a.btn(href="#")
                        .dot-sm
                        | Polyimer
                    a.btn(href="#")
                        .dot-sm
                        | Radial
                    a.btn(href="#")
                        .dot-sm
                        | Snap-in
                    a.btn(href="#")
                        .dot-sm
                        | Screw
                    a.btn(href="#")
                        .dot-sm
                        | Film capacitors
                .parameters__card
                    .card__heading
                        h4 Электродвигатели Dunkermotoren
                    .card__content
                        a.btn.btn-simple(href="#") BG | EC Motors
                        .characteristics
                            ul
                                li
                                    .dot-sm
                                    a.btn(href="#") For external controller
                                li
                                    .dot-sm
                                    a.btn(href="#") With integrated controller
                        a.btn.btn-simple(href="#") GR/G | Brushed DC Motors
                        .characteristics
                            ul
                                li
                                    .dot-sm
                                    a.btn(href="#") For external controller
                                li
                                    .dot-sm
                                    a.btn(href="#") With integrated controller
                        a.btn.btn-simple(href="#") KD/DR | AC motors
                        .characteristics
                            ul
                                li
                                    .dot-sm
                                    a.btn(href="#") For external controller
                                li
                                    .dot-sm
                                    a.btn(href="#") With integrated controller
                        a.btn.btn-simple(href="#") D/DCD | Venetian blind drives
                        .characteristics
                            ul
                                li
                                    .dot-sm
                                    a.btn(href="#") For external controller
                                li
                                    .dot-sm
                                    a.btn(href="#") With integrated controller
                        a.btn.btn-simple(href="#") PLG/SG/STG | Gearboxes
                        .characteristics
                            ul
                                li
                                    .dot-sm
                                    a.btn(href="#") For external controller
                                li
                                    .dot-sm
                                    a.btn(href="#") With integrated controller
                        a.btn.btn-simple(href="#") BGE | Controllers
                        .characteristics
                            ul
                                li
                                    .dot-sm
                                    a.btn(href="#") For external controller
                                li
                                    .dot-sm
                                    a.btn(href="#") With integrated controller
                        a.btn.btn-simple(href="#") Brakes and Encoders
                        .characteristics
                            ul
                                li
                                    .dot-sm
                                    a.btn(href="#") For external controller
                                li
                                    .dot-sm
                                    a.btn(href="#") With integrated controller
                        a.btn.btn-simple(href="#") Linear Systems
                        .characteristics
                            ul
                                li
                                    .dot-sm
                                    a.btn(href="#") For external controller
                                li
                                    .dot-sm
                                    a.btn(href="#") With integrated controller
                .parameters__card
                    .card__heading
                        h4 Конденсаторы Jianghai
                    .card__content
                        a.btn.btn-simple(href="#") Polyimer
                        .characteristics
                            ul
                                li
                                    .dot-sm
                                    a.btn(href="#") For external controller
                                li
                                    .dot-sm
                                    a.btn(href="#") With integrated controller
                        a.btn.btn-simple(href="#") Radial
                        .characteristics
                            ul
                                li
                                    .dot-sm
                                    a.btn(href="#") For external controller
                                li
                                    .dot-sm
                                    a.btn(href="#") With integrated controller
                        a.btn.btn-simple(href="#") Snap-in
                        .characteristics
                            ul
                                li
                                    .dot-sm
                                    a.btn(href="#") For external controller
                                li
                                    .dot-sm
                                    a.btn(href="#") With integrated controller
                        a.btn.btn-simple(href="#") Screw
                        .characteristics
                            ul
                                li
                                    .dot-sm
                                    a.btn(href="#") For external controller
                                li
                                    .dot-sm
                                    a.btn(href="#") With integrated controller
                        a.btn.btn-simple(href="#") Film capacitors
                        .characteristics
                            ul
                                li
                                    .dot-sm
                                    a.btn(href="#") For external controller
                                li
                                    .dot-sm
                                    a.btn(href="#") With integrated controller
                a.btn.btn-single-param__heading(href="#")
                    span.span-text Внешний диаметр, мм
                    span.span-arrow
                .single-param__content.checkboxes
                    form
                        .checkbox
                            input.checkbox__input(type="checkbox" id="param-2")
                            label.checkbox__label(for="param-2")
                            label.checkbox__label--text(for="param-2")
                                p 23
                        .checkbox
                            input.checkbox__input(type="checkbox" id="param-3")
                            label.checkbox__label(for="param-3")
                            label.checkbox__label--text(for="param-3")
                                p 24
                        .checkbox
                            input.checkbox__input(type="checkbox" id="param-4")
                            label.checkbox__label(for="param-4")
                            label.checkbox__label--text(for="param-4")
                                p 30
                        .checkbox
                            input.checkbox__input(type="checkbox" id="param-5")
                            label.checkbox__label(for="param-5")
                            label.checkbox__label--text(for="param-5")
                                p 30,6
                        .checkbox
                            input.checkbox__input(type="checkbox" id="param-6")
                            label.checkbox__label(for="param-6")
                            label.checkbox__label--text(for="param-6")
                                p 32,4
                        .checkbox
                            input.checkbox__input(type="checkbox" id="param-7")
                            label.checkbox__label(for="param-7")
                            label.checkbox__label--text(for="param-7")
                                p 40
                        .checkbox
                            input.checkbox__input(type="checkbox" id="param-8")
                            label.checkbox__label(for="param-8")
                            label.checkbox__label--text(for="param-8")
                                p 42
                        .checkbox
                            input.checkbox__input(type="checkbox" id="param-9")
                            label.checkbox__label(for="param-9")
                            label.checkbox__label--text(for="param-9")
                                p 44
                        .checkbox
                            input.checkbox__input(type="checkbox" id="param-10")
                            label.checkbox__label(for="param-10")
                            label.checkbox__label--text(for="param-10")
                                p 45
                        .checkbox
                            input.checkbox__input(type="checkbox" id="param-11")
                            label.checkbox__label(for="param-11")
                            label.checkbox__label--text(for="param-11")
                                p 51
                        .checkbox
                            input.checkbox__input(type="checkbox" id="param-12")
                            label.checkbox__label(for="param-12")
                            label.checkbox__label--text(for="param-12")
                                p 52
                        .checkbox
                            input.checkbox__input(type="checkbox" id="param-13")
                            label.checkbox__label(for="param-13")
                            label.checkbox__label--text(for="param-13")
                                p 63
                        .checkbox
                            input.checkbox__input(type="checkbox" id="param-14")
                            label.checkbox__label(for="param-14")
                            label.checkbox__label--text(for="param-14")
                                p 65
                        .checkbox
                            input.checkbox__input(type="checkbox" id="param-15")
                            label.checkbox__label(for="param-15")
                            label.checkbox__label--text(for="param-15")
                                p 75
                a.btn.btn-single-param__heading(href="#")
                    span.span-text Длина, мм
                    span.span-arrow
                .single-param__content
                a.btn.btn-single-param__heading(href="#")
                    span.span-text Номинальное напряжение, В
                    span.span-arrow
                .single-param__content
                a.btn.btn-single-param__heading#idle-speed(href="#")
                    span.span-text Скорость холостого хода, об/мин
                    span.span-arrow
                .single-param__content.range#idle-speed__content
                    form
                        .range-numbers
                            .range-num
                                input(type="text", id="lower-num", placeholder="2 860")
                            p -
                            .range-num
                                input(type="text", id="upper-num", placeholder="6 300")
                        span.multi-range
                            input(type="range", min="2860", max="6300", value="2860", id="lower")
                            input(type="range", min="2860", max="6300", value="6300", id="upper")
                a.btn.btn-single-param__heading#rated-speed(href="#")
                    span.span-text Номинальная скорость, об/мин
                    span.span-arrow
                .single-param__content#rated-speed__content
                a.btn.btn-single-param__heading#torque(href="#")
                    span.span-text Пусковой момент , Нcм
                    span.span-arrow
                .single-param__content#torque__content
                a.btn.btn-single-param__heading#rated-moment(href="#")
                    span.span-text Номинальный момент, Нcм
                    span.span-arrow
                .single-param__content#rated-moment__content
                a.btn.btn-single-param__heading#power(href="#")
                    span.span-text Выходная мощность, Вт
                    span.span-arrow
                .single-param__content#power__content
                a.btn.btn-single-param__heading#type(href="#")
                    span.span-text Тип продукции
                    span.span-arrow
                .single-param__content#type__content
                .btn.btn-underline Очистить фильтр
            .products
                .parameter__names
                    .param.series
                        p Серия
                    .param.diameter
                        p Внешний диаметр,<br> мм
                    .param.length
                        p Длина, <br> мм
                    .param.voltage
                        p Номинальное напряжение, В
                    .param.speed
                        p Номинальная скорость,<br> об/мин
                    .param.moment
                        p Номинальный момент,<br> Нcм
                    .param.power
                        p Номинальная мощность, <br> Вт
                .product__block
                    h3 Электродвигатели постоянного тока с коллекторным узлом
                    .product__series
                        .param.series
                            .prod__img
                                img(src="img/catalog/product.jpg", alt="")
                            .prod__name
                                p <span>Серия</span> <br> GR 23
                        .param.diameter
                            p 23
                        .param.length
                            p 50
                        .param.voltage
                            p 12/24
                        .param.speed
                            p 3 950 <br> 450
                        .param.moment
                            p 1.0 <br> 1.1
                        .param.power
                            p 4
                        a.btn.btn-next(href="#")
                            .span-arrow
                    .product__series
                        .param.series
                            .prod__img
                                img(src="img/catalog/product.jpg", alt="")
                            .prod__name
                                p <span>Серия</span> <br> GR 23
                        .param.diameter
                            p 23
                        .param.length
                            p 50
                        .param.voltage
                            p 12/24
                        .param.speed
                            p 3 950 <br> 450
                        .param.moment
                            p 1.0 <br> 1.1
                        .param.power
                            p 4
                        a.btn.btn-next(href="#")
                            .span-arrow
                    .product__series
                        .param.series
                            .prod__img
                                img(src="img/catalog/product.jpg", alt="")
                            .prod__name
                                p <span>Серия</span> <br> GR 23
                        .param.diameter
                            p 23
                        .param.length
                            p 50
                        .param.voltage
                            p 12/24
                        .param.speed
                            p 3 950 <br> 450
                        .param.moment
                            p 1.0 <br> 1.1
                        .param.power
                            p 4
                        a.btn.btn-next(href="#")
                            .span-arrow
                    .product__series
                        .param.series
                            .prod__img
                                img(src="img/catalog/product.jpg", alt="")
                            .prod__name
                                p <span>Серия</span> <br> GR 23
                        .param.diameter
                            p 23
                        .param.length
                            p 50
                        .param.voltage
                            p 12/24
                        .param.speed
                            p 3 950 <br> 450
                        .param.moment
                            p 1.0 <br> 1.1
                        .param.power
                            p 4
                        a.btn.btn-next(href="#")
                            .span-arrow
                    .block__bottom
                        a.btn.btn-primary(href="#") Показать все позиции
                        a.btn.btn-next--blue(href="#") Индивидуальный заказ
                            span.span-arrow
                .product__block
                    h3 Бесколлекторные двигатели постоянного тока
                    .product__series
                        .param.series
                            .prod__img
                                img(src="img/catalog/product.jpg", alt="")
                            .prod__name
                                p <span>Серия</span> <br> GR 23
                        .param.diameter
                            p 23
                        .param.length
                            p 50
                        .param.voltage
                            p 12/24
                        .param.speed
                            p 3 950 <br> 450
                        .param.moment
                            p 1.0 <br> 1.1
                        .param.power
                            p 4
                        a.btn.btn-next(href="#")
                            .span-arrow
                    .product__series
                        .param.series
                            .prod__img
                                img(src="img/catalog/product.jpg", alt="")
                            .prod__name
                                p <span>Серия</span> <br> GR 23
                        .param.diameter
                            p 23
                        .param.length
                            p 50
                        .param.voltage
                            p 12/24
                        .param.speed
                            p 3 950 <br> 450
                        .param.moment
                            p 1.0 <br> 1.1
                        .param.power
                            p 4
                        a.btn.btn-next(href="#")
                            .span-arrow
                    .product__series
                        .param.series
                            .prod__img
                                img(src="img/catalog/product.jpg", alt="")
                            .prod__name
                                p <span>Серия</span> <br> GR 23
                        .param.diameter
                            p 23
                        .param.length
                            p 50
                        .param.voltage
                            p 12/24
                        .param.speed
                            p 3 950 <br> 450
                        .param.moment
                            p 1.0 <br> 1.1
                        .param.power
                            p 4
                        a.btn.btn-next(href="#")
                            .span-arrow
                    .product__series
                        .param.series
                            .prod__img
                                img(src="img/catalog/product.jpg", alt="")
                            .prod__name
                                p <span>Серия</span> <br> GR 23
                        .param.diameter
                            p 23
                        .param.length
                            p 50
                        .param.voltage
                            p 12/24
                        .param.speed
                            p 3 950 <br> 450
                        .param.moment
                            p 1.0 <br> 1.1
                        .param.power
                            p 4
                        a.btn.btn-next(href="#")
                            .span-arrow
                    .block__bottom
                        a.btn.btn-primary(href="#") Показать все позиции
                        a.btn.btn-next--blue(href="#") Индивидуальный заказ
                            span.span-arrow
                .product__block
                    h3 Электродвигатели постоянного тока с коллекторным узлом
                    .product__series
                        .param.series
                            .prod__img
                                img(src="img/catalog/product.jpg", alt="")
                            .prod__name
                                p <span>Серия</span> <br> GR 23
                        .param.diameter
                            p 23
                        .param.length
                            p 50
                        .param.voltage
                            p 12/24
                        .param.speed
                            p 3 950 <br> 450
                        .param.moment
                            p 1.0 <br> 1.1
                        .param.power
                            p 4
                        a.btn.btn-next(href="#")
                            .span-arrow
                    .product__series
                        .param.series
                            .prod__img
                                img(src="img/catalog/product.jpg", alt="")
                            .prod__name
                                p <span>Серия</span> <br> GR 23
                        .param.diameter
                            p 23
                        .param.length
                            p 50
                        .param.voltage
                            p 12/24
                        .param.speed
                            p 3 950 <br> 450
                        .param.moment
                            p 1.0 <br> 1.1
                        .param.power
                            p 4
                        a.btn.btn-next(href="#")
                            .span-arrow
                    .product__series
                        .param.series
                            .prod__img
                                img(src="img/catalog/product.jpg", alt="")
                            .prod__name
                                p <span>Серия</span> <br> GR 23
                        .param.diameter
                            p 23
                        .param.length
                            p 50
                        .param.voltage
                            p 12/24
                        .param.speed
                            p 3 950 <br> 450
                        .param.moment
                            p 1.0 <br> 1.1
                        .param.power
                            p 4
                        a.btn.btn-next(href="#")
                            .span-arrow
                    .product__series
                        .param.series
                            .prod__img
                                img(src="img/catalog/product.jpg", alt="")
                            .prod__name
                                p <span>Серия</span> <br> GR 23
                        .param.diameter
                            p 23
                        .param.length
                            p 50
                        .param.voltage
                            p 12/24
                        .param.speed
                            p 3 950 <br> 450
                        .param.moment
                            p 1.0 <br> 1.1
                        .param.power
                            p 4
                        a.btn.btn-next(href="#")
                            .span-arrow
                    .block__bottom
                        a.btn.btn-primary(href="#") Показать все позиции
                        a.btn.btn-next--blue(href="#") Индивидуальный заказ
                            span.span-arrow
                .product__block
                    h3 Бесколлекторные двигатели постоянного тока
                    .product__series
                        .param.series
                            .prod__img
                                img(src="img/catalog/product.jpg", alt="")
                            .prod__name
                                p <span>Серия</span> <br> GR 23
                        .param.diameter
                            p 23
                        .param.length
                            p 50
                        .param.voltage
                            p 12/24
                        .param.speed
                            p 3 950 <br> 450
                        .param.moment
                            p 1.0 <br> 1.1
                        .param.power
                            p 4
                        a.btn.btn-next(href="#")
                            .span-arrow
                    .product__series
                        .param.series
                            .prod__img
                                img(src="img/catalog/product.jpg", alt="")
                            .prod__name
                                p <span>Серия</span> <br> GR 23
                        .param.diameter
                            p 23
                        .param.length
                            p 50
                        .param.voltage
                            p 12/24
                        .param.speed
                            p 3 950 <br> 450
                        .param.moment
                            p 1.0 <br> 1.1
                        .param.power
                            p 4
                        a.btn.btn-next(href="#")
                            .span-arrow
                    .product__series
                        .param.series
                            .prod__img
                                img(src="img/catalog/product.jpg", alt="")
                            .prod__name
                                p <span>Серия</span> <br> GR 23
                        .param.diameter
                            p 23
                        .param.length
                            p 50
                        .param.voltage
                            p 12/24
                        .param.speed
                            p 3 950 <br> 450
                        .param.moment
                            p 1.0 <br> 1.1
                        .param.power
                            p 4
                        a.btn.btn-next(href="#")
                            .span-arrow
                    .product__series
                        .param.series
                            .prod__img
                                img(src="img/catalog/product.jpg", alt="")
                            .prod__name
                                p <span>Серия</span> <br> GR 23
                        .param.diameter
                            p 23
                        .param.length
                            p 50
                        .param.voltage
                            p 12/24
                        .param.speed
                            p 3 950 <br> 450
                        .param.moment
                            p 1.0 <br> 1.1
                        .param.power
                            p 4
                        a.btn.btn-next(href="#")
                            .span-arrow
                    .block__bottom
                        a.btn.btn-primary(href="#") Показать все позиции
                        a.btn.btn-next--blue(href="#") Индивидуальный заказ
                            span.span-arrow