---
title: Product Page
---
extends layouts/_layout
block content
    section.product
        .container
            .breadcrumbs
                a.btn(href="#") Главная / Электродвигатели Dunkermotoren
                p <span> / GR/G | Brushed DC Motors / G 30.1, 12V</span>
            .product-container
                h2 G 30.1, 12V
                .product__content
                    ul
                        li
                            .dot-sm
                            p Stronger permanent magnet DC motor
                        li
                            .dot-sm
                            p Mechanical commutation through multi bar commutator provides long lifetime
                        li
                            .dot-sm
                            p Operation in both directions of rotation
                        li
                            .dot-sm
                            p Sleeve bearing at motor shaft is standard
                        li
                            .dot-sm
                            p Optionally with ball bearing, custom shaft length and diameter, lead version
                    .product__image-container
                        .product__image
                            img(src="img/product/product.png", alt="product")
                a.btn.btn-pdf(href="#")
                    .btn-pdf__img
                    .btn-pdf__text Общий каталог (Dunkermotoren).pdf
    section.product__characteristics
        .tabs-blue
            .tabs__caption__bg
                ul.tabs__caption
                    li.active
                        a.btn.btn-secondary
                            span.sp-arrow
                            span.sp-text Характеристики
                    li
                        a.btn.btn-secondary
                            span.sp-arrow
                            span.sp-text Размеры
                    li
                        a.btn.btn-secondary
                            span.sp-arrow
                            span.sp-text Вариации
                    li
                        a.btn.btn-secondary
                            span.sp-arrow
                            span.sp-text Контакты
            .tabs__content.active
                table
                    tr
                        td.zero-column
                        td.first-column Nominal voltage
                        td V
                        td 12
                    tr
                        td.zero-column
                        td.first-column Nominal current
                        td A
                        td 0.9
                    tr
                        td.zero-column
                        td.first-column Nominal torque
                        td Ncm
                        td 1.6
                    tr
                        td.zero-column
                        td.first-column Nominal speed
                        td rpm
                        td 3300
                    tr
                        td.zero-column
                        td.first-column Friction torque at no load
                        td Ncm
                        td 0.3
                    tr
                        td.zero-column
                        td.first-column Peak stall torque
                        td Ncm
                        td 5.4
                    tr
                        td.zero-column
                        td.first-column No load speed
                        td rpm
                        td 4650
                    tr
                        td.zero-column
                        td.first-column Maximum output power
                        td W
                        td 6.5
                    tr
                        td.zero-column
                        td.first-column Nominal power
                        td W
                        td 5.7
                    tr
                        td.zero-column
                        td.first-column Torque constant
                        td Ncm/A
                        td 2.32
                    tr
                        td.zero-column
                        td.first-column Terminal resistance
                        td Ohm
                        td 4.9
                    tr
                        td.zero-column
                        td.first-column Terminal inductance
                        td mH
                        td 3.64
                    tr
                        td.zero-column
                        td.first-column Starting current
                        td A
                        td 2.4
                    tr
                        td.zero-column
                        td.first-column No load current
                        td A
                        td 0.17
                    tr
                        td.zero-column
                        td.first-column Rotor inertia
                        td gcm^2
                        td 18.15
                    tr
                        td.zero-column
                        td.first-column Weight
                        td kg
                        td 0.11
            .tabs__content
                table
                    tr
                        td.zero-column
                        td.first-column Friction torque at no load
                        td Ncm
                        td 0.3
                    tr
                        td.zero-column
                        td.first-column Peak stall torque
                        td Ncm
                        td 5.4
                    tr
                        td.zero-column
                        td.first-column No load speed
                        td rpm
                        td 4650
                    tr
                        td.zero-column
                        td.first-column Maximum output power
                        td W
                        td 6.5
                    tr
                        td.zero-column
                        td.first-column Nominal power
                        td W
                        td 5.7
                    tr
                        td.zero-column
                        td.first-column Torque constant
                        td Ncm/A
                        td 2.32
                    tr
                        td.zero-column
                        td.first-column Terminal resistance
                        td Ohm
                        td 4.9
                    tr
                        td.zero-column
                        td.first-column Terminal inductance
                        td mH
                        td 3.64
                    tr
                        td.zero-column
                        td.first-column Starting current
                        td A
                        td 2.4
                    tr
                        td.zero-column
                        td.first-column No load current
                        td A
                        td 0.17
                    tr
                        td.zero-column
                        td.first-column Rotor inertia
                        td gcm^2
                        td 18.15
                    tr
                        td.zero-column
                        td.first-column Weight
                        td kg
                        td 0.11
            .tabs__content
                table
                    tr
                        td.zero-column
                        td.first-column Terminal inductance
                        td mH
                        td 3.64
                    tr
                        td.zero-column
                        td.first-column Starting current
                        td A
                        td 2.4
                    tr
                        td.zero-column
                        td.first-column No load current
                        td A
                        td 0.17
                    tr
                        td.zero-column
                        td.first-column Rotor inertia
                        td gcm^2
                        td 18.15
                    tr
                        td.zero-column
                        td.first-column Weight
                        td kg
                        td 0.11
            .tabs__content
                table
                    tr
                        td.zero-column
                        td.first-column Starting current
                        td A
                        td 2.4
                    tr
                        td.zero-column
                        td.first-column No load current
                        td A
                        td 0.17
                    tr
                        td.zero-column
                        td.first-column Rotor inertia
                        td gcm^2
                        td 18.15
                    tr
                        td.zero-column
                        td.first-column Weight
                        td kg
                        td 0.11
        .mobile-details
            p Характеристики, размеры и вариации<span> электродвигателя G 30.1, 12V</span> Вы можете посмотреть в ПК-версии сайта
            a.btn.btn-secondary
                span.sp-arrow
                span.sp-text Перейти в ПК-версию