footer.footer
    .container
        .policy
            p © 2019 TTPlus. Все права защищены. Все права на материалы, опубликованные на сайте, охраняются в соответствии с законодательством РФ. При использовании материалов - активная ссылка на источник обязательна. <br> Согласие на обработку персональных данных
        .logo by