//BEGIN header
header.header
    .container
      a.btn.btn-phone(href="#")
      a.btn.logo__image(href="/main.html")
        img(src="img/t&t.svg", alt="")
      .menu
          ul
              li
                  a(href="/main-catalog") Каталог
              li
                  a(href="/articles") Статьи
              li
                  a(href="/about") О компании
              li
                  a(href="/contacts") Контакты
      a.btn.btn-menu(href="#")
        span
        span
      .search
          form
            .input
                input(type="text" placeholder="Поиск")
                a.input__icon-search(href="#")
      .contact-info
          a.contact-info__phone(href="tel:+8 812 303 98 63") 8 812 303 98 63
          a.contact-info__email(href="mailto:info@ttplus.spb.ru") info@ttplus.spb.ru
//END header
